# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
dist/
build/

# Databases
*.db
*.sqlite3

# Logs & temp
*.log
*.txt
!requirements.txt
!packages.txt

# Secrets
.env
*.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Large binaries
emulator/mvs/
*.mp4
*.mov
